@import url("https://fonts.googleapis.com/css?family=Chela+One|Lobster|Dancing+Script|Raleway");
@import "~material-design-icons-iconfont/dist/material-design-icons.css";

$primary-color: #470000;
$secondary-color: #00472e;

* {
  font-family: "Raleway", sans-serif;
  color: rgb(43, 42, 42);
  font-size: 16px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html {
  overflow-y: hidden !important;
}

.btn-primary {
  border: 1px solid #00472e;
  height: 36px;
  outline: none;
  &:active,
  &:hover {
    outline: none;
  }
  &:active {
    transform: translateY(1px);
  }
}
.print {
  &:hover {
    color: $secondary-color;
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
p {
  margin-bottom: 8px;
  margin-top: 8px;
}

.logo {
  font-family: "Lobster", cursive;
  color: white;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  margin: 0px;
  align-self: flex start;
}
button {
  text-transform: uppercase;
  border-radius: 0.25rem;
  &:hover {
    cursor: pointer;
  }
}

.homepage {
  position: absolute;
  top: 64px;
  display: flex;
  height: calc(100vh - 64px);
  flex-direction: row;
  width: 100%;
}

.content-section {
  height: 100%;
  width: calc(100vw - 250px);
  padding: 50px 5vw 0px 5vw;
  overflow: auto;
}
.content-section > * {
  padding-bottom: 3rem;
}
.sidebar {
  flex: 0 0 250px;
  z-index: 2;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.637);
  display: none;
  margin: 0px;
}
.alert-wrapper {
  position: fixed;
  top: 6rem;
  width: calc(100vw - 250px);
  left: 250px;
  display: flex;
  z-index: 1000;
  justify-content: space-around;
}
.alert {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

.progress-bar {
  position: fixed !important;
  left: 250px;
  right: 0px;
  top: 64px;
  margin: 0px !important;
  z-index: 1000;
}
@media (max-width: 960px) {
  .content-section {
    width: 100vw;
  }
  .progress-bar {
    left: 0px;
  }
  .alert-wrapper {
    left: 0px;
    width: 100%;
  }

  .overlay {
    display: block;
  }
  .sidebar {
    position: absolute;
    width: 250px;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #f7f7f7;
  box-shadow: inset 0 0 0px 9999px #f7f7f7;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  vertical-align: bottom;
}
textarea {
  resize: none;
}

.product-description-container {
  display: flex;
  flex-direction: row;
  flex: 1fr 2rem 1fr;
  justify-content: space-between;
}
.create-product-page {
  width: 100%;
  height: 100%;
}
.product-name-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.product-name-price > *:first-child {
  margin-right: 2rem;
}
.select-first {
  width: 100%;
}
.image-label {
  color: grey !important;
  padding: 1rem !important;
  font-size: 6rem !important;
  cursor: pointer;
}
.image-label:hover {
  color: #00472e !important;
}
.product-name {
  width: 100%;
}

.submit-button {
  margin-top: 1rem;
  padding: 0.25rem 0.75rem;
  background-color: $secondary-color;
  color: white;
}
.picture {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.picture-label {
  margin-bottom: 0.5rem;
}
.upload-button {
  display: none;
}
.edit-image-label {
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 3rem;
  color: #00472e !important;
  background-color: white;
  border-radius: 10%;
}
.edit-image-label:hover {
  color: white !important;
  background-color: #00472e;
}
.textarea {
  width: 100%;
  margin-right: 2rem;
}
textarea {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 12px;
  position: absolute;
  border: 0.5px solid #969696 !important;
  top: 0px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea:focus {
  border: 0.5px solid black !important;
}
.textarea-field {
  border-radius: 4px;
  width: 100%;
  position: relative;
  padding-top: 75%;
}

.textarea-picture-container {
  display: flex;
  flex-direction: row;
}
.image-upload {
  border: 0.5px solid #969696;
  border-radius: 4px;
  width: 100%;
  position: relative;
  padding-top: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image-upload:hover {
  border: 0.5px solid black;
}
.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  top: 0px;
}
.image-preview {
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
}
.custom-error {
  font-size: 12px;
  color: red;
  background-color: transparent;
}
.overall {
  position: relative;
}
.loading-wrapper {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
}
.loading {
  padding: 2rem;
}
@media (max-width: 600px) {
  .product-name-price {
    flex-direction: column;
  }
  .product-name-price > * {
    flex: 1 1 auto;
  }
  .product-name-price > *:first-child {
    margin-right: 0rem;
  }
  .textarea-picture-container {
    display: flex;
    flex-direction: column;
  }
}
.error-message {
  height: 1rem;
  p {
    color: red;
    font-size: 0.75rem;
  }
}
i {
  cursor: pointer;
}
[v-cloak] {
  display: none;
}
